body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    padding: 20px;
    background-color: #507a95;
}

.board {
    display: flex;
    overflow-x: auto;
}

.board > * {
    flex: 0 0 auto;
}

.list {
    width: 300px;
    height: calc(100% - 50px);
    margin-left: 10px;
}

.list > * {
    background-color: #e2e4e6;
    color: #333;
}

.list header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-weight: bold;
}

.list ul {

    list-style: none;
    min-height: 10px;
    max-height: calc(100% - 100px);
    padding: 0 10px;
    margin: 0;
    overflow-y: auto;
}

.list ul li {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(9,45,66,.25);
    font-size: 13px;
}

.list footer {
    padding: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

form.add-list > * {
    margin: 3px 10px;
}

input {
    width: 65%;
    padding-left: 4px;
    margin: 0 5px;
    border: 0;
    border-radius: 3px;
    line-height: 1.8;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

button.delete {
    border: 0;
    color: grey;
    font-size: 14px;
    position: relative;
}

button.delete:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00d";
    position: absolute;
    top: 0;
    left: 0;
}

.list header button.delete {
    background-color: #e2e4e6;
}

button.add {
    background-color: #5aac44;
    box-shadow: 0 1px 0 0 #3f6f21;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    font-size: 12px;
    padding: 6px;
}